<br /><br /><button type="button" class="btn btn-default" (click)="modal.open()">Add item</button>

<modal #modal [keyboard]="false" [backdrop]="'static'">
    <modal-header [show-close]="false">
        <h4 class="modal-title">Add item</h4>
    </modal-header>
    <modal-body>
        <form (ngSubmit)="createItem()" #itemForm="ngForm">
            {{diagnostic}}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="item.name" name="name" #name="ngModel" placeholder="name">                Written text: {{item.name}}
            </div>
            <div class="form-group">
                <label for="dateOfAdded">Date of added</label>
                <input type="date" class="form-control" [(ngModel)]="item.dateOfAdded" name="dateOfAdded" placeholder="date of added">                Written text: {{item.dateOfAdded}}
            </div>
            <div class="form-group">
                <label for="imageURL">Image URL</label>
                <input type="text" class="form-control" id="imageURL" [(ngModel)]="item.image" name="imageURL" placeholder="imageURL">                Written text: {{item.image}}
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category" required [(ngModel)]="item.category" name="category">
                                <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
                            </select> Chosen option: {{item.category}}
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status" required [(ngModel)]="item.status" name="status">
                                    <option *ngFor="let stat of status" [value]="stat">{{stat}}</option>
                                </select> Chosen option: {{item.status}}
            </div>
            <div class="form-group">
                <label for="color">Color</label>
                <input type="text" class="form-control" id="color" [(ngModel)]="item.color" name="color" placeholder="color" required>                Written text: {{item.color}}
            </div>
            <div class="form-group">
                <label for="weight">Weight</label>
                <input type="text" class="form-control" id="weight" [(ngModel)]="item.weight" name="weight" placeholder="weight" required>                Written text: {{item.weight}}
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!itemForm.form.valid">Submit</button>
        </form>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
    </modal-footer>
</modal>

<button type="button" class="btn btn-default" (click)="modalProfile.open()">Add profile</button>

<modal #modalProfile [keyboard]="false" [backdrop]="'static'">
    <modal-header [show-close]="false">
        <h4 class="modal-title">Add profile</h4>
    </modal-header>
    <modal-body>
        <form (ngSubmit)="createProfile()" #profileForm="ngForm">
            {{diagnostic}}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="profile.name" name="name" #name="ngModel" placeholder="name">                Written text: {{profile.name}}
            </div>
            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" class="form-control" [(ngModel)]="profile.surname" name="surname" placeholder="surname" required>                Written text: {{profile.surname}}
            </div>
            <div class="form-group">
                <label for="phoneNumber">Image URL</label>
                <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="profile.phoneNumber" name="phoneNumber" placeholder="phone number"
                    required> Written text: {{profile.phoneNumber}}
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" id="email" [(ngModel)]="profile.email" name="email" placeholder="email" required>                Written text: {{profile.email}}
            </div>
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" class="form-control" id="login" [(ngModel)]="profile.login" name="login" placeholder="login" required>                Written text: {{profile.login}}
            </div>
            <div class="form-group">
                <label for="color">Password</label>
                <input type="text" class="form-control" id="password" [(ngModel)]="profile.password" name="password" placeholder="password"
                    required> Written text: {{profile.password}}
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!profileForm.form.valid">Submit</button>
        </form>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
    </modal-footer>
</modal>

<br /><br />


<input type="text" [(ngModel)]="message.itemsId" name="itemsId" placeholder="item's id">
<input type="text" [(ngModel)]="message.usersLogin" name="usersLogin" placeholder="users login">
<button (click)="returnToOwner()"> Return</button>
<!-- <form (ngSubmit)="returnToOwner()" #itemReturnForm="ngForm">
        {{diagnostic}}
        <div class="form-group">
            <label for="name">Item's id</label>
            <input type="text" class="form-control" id="itemsId" required [(ngModel)]="message.itemsId" name="itemsId" placeholder="item's id">                Written text: {{profile.name}}
        </div>
        <div class="form-group">
            <label for="surname">Owner's login</label>
            <input type="text" class="form-control" [(ngModel)]="message.usersLogin" name="usersLogin" placeholder="user's login" required>                Written text: {{profile.surname}}
        </div>
    </form>
    <button type="submit" class="btn btn-success" [disabled]="!itemReturnForm.form.valid">Return to owner</button> -->

<!-- <button type="button" class="btn btn-default" (click)="modalReturnItem.open()">Return item to owner</button>

<modal #modalReturnItem [keyboard]="false" [backdrop]="'static'">
    <modal-header [show-close]="false">
        <h4 class="modal-title">Return item to owner</h4>
    </modal-header>
    <modal-body>
            <form (ngSubmit)="returnToOwner()" #itemReturnForm="ngForm">
                    {{diagnostic}}
                    <div class="form-group">
                        <label for="name">Item's id</label>
                        <input type="text" class="form-control" id="itemsId" required [(ngModel)]="message.itemsId" name="itemsId" placeholder="item's id">                Written text: {{profile.name}}
                    </div>
                    <div class="form-group">
                        <label for="surname">Owner's login</label>
                        <input type="text" class="form-control" [(ngModel)]="message.usersLogin" name="usersLogin" placeholder="user's login" required>                Written text: {{profile.surname}}
                    </div>
                </form>
        <button type="submit" class="btn btn-success" [disabled]="!itemReturnForm.form.valid">Return to owner</button>
        
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
    </modal-footer>
</modal> -->