<h1>{{title}}</h1>
<nav>
    <a routerLink="/wishlist" routerLinkActive="active" class="button">WishList</a>
    <a routerLink="/foundlist" routerLinkActive="active" class="button">FoundList</a>
    <a routerLink="/lostlist" routerLinkActive="active" class="button">LostList</a>
    <a routerLink="/historylist" routerLinkActive="active" class="button">HistoryList</a>
    <a routerLink="/admin-managment" routerLinkActive="active" class="button">AdminManagment</a>
</nav>
<router-outlet></router-outlet>