<h2>Lostlist</h2>
<p>The .table-striped class adds zebra-stripes to a table:</p>   
<select [(ngModel)]="sortParam">
    <option value="name"> Name </option>
    <option value="date"> Date </option>
  </select>     
<table class="table table-striped">
    <thead>
        <tr>
          <th><input type="text" name="name" [(ngModel)]="filter.name" placeholder="name"></th>
          <th>-</th>
          <th><input type="text" name="category" [(ngModel)]="filter.category" placeholder="category"></th>
          <th>-</th>
        </tr>
      </thead>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Category</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items | itemfilter:filter | orderBy:sortParam ">
      <td *ngIf = "item.status === 'LOST'">{{item.name}}</td>
      <td *ngIf = "item.status === 'LOST'" class="text-left">{{item.status}}</td>
      <td *ngIf = "item.status === 'LOST'" class="text-left">{{item.dateOfAdded}}</td>
      <td *ngIf = "item.status === 'LOST'"><a [routerLink]="['/detail', item.id]"  class="col-1-4">Details</a></td>
    </tr>
  </tbody>
</table>