<h2>Wishlist</h2>
<p>The table contain found item, which others need :D  </p> 


<form id="form1">
    <div class="div-table">
           <div class="div-table-row">
              <div class="div-table-col" align="center">Item's name</div>
              <div  class="div-table-col">Users</div>
              <div  class="div-table-col">Details</div>
           </div>
          <div class="div-table-row" *ngFor="let item of items">
                <div class="div-table-col">{{item.name}}</div>
              <div class="div-table-col"> <div *ngFor="let profile of item.profiles" >{{profile.name}}</div></div>
              <div class="div-table-col"><a [routerLink]="['/detail', item.id]">Details</a></div>
          </div>
    </div>
</form>
